*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  vertical-align: middle;
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  outline: none;
} 

.content {
  display: grid;
  grid-template-columns: 2.5% 711px 2.5% 415px 2.5%;
  grid-template-areas: '. grid-result . grid-content-details .';
}

.result {
  display: flex;
  flex-direction: column;
  gap: 5px;
  grid-area: grid-result;
  justify-content: end;
  max-width: 711px;
}

.result__video-container {
  position: relative;
}

.result__video {
  inline-size: 711px;
  block-size: 386px;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: grid;
  grid-template-columns: 225px 212px 194px;
  gap: 40px;
  align-items: end;
  padding: 0 0 2px 0;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  font-style: normal;
}

.search-form__textfield {
  width: 100%;
  background-color: #1b1919;
  border: none;
  font-size: 18px;
  line-height: 20px;
  border-radius: 0;
  font-family: 'Fira Sans Condensed', sans-serif;
  border-bottom: #fff solid 1px;
  border-top: #fff solid 1px;
  padding: 3px 0 2px 2px;
  appearance: none;
  color: #fff;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form__label:has(.search-form__pseudo-checkbox) {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.search-form__fieldset:has(.search-form__checkbox-list) {
  margin: 0 0 4px 0;
}

.search-form__textfield:active {
  border-bottom: transparent solid 1px;
  border-top: transparent solid 1px;
}

.search-form__label input[type='checkbox'] + .search-form__pseudo-checkbox {
  display: flex;
  width: 19px;
  height: 19px;
  border: #fff solid 1px;
  justify-content: center;
  align-items: center;
}

.search-form__label input[type='checkbox']:checked + .search-form__pseudo-checkbox::after {
  content: '';
  display: flex;
  width: 15px;
  height: 15px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}

.search-form__label:has(:hover) {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: #fff solid 1px;
  outline-offset: 1px;
}

.search-form__textfield:focus,
.search-form__label:focus {
  outline: none;
}

/*ЛЕВАЯ ЧАСТЬ - Заголовок и список городов*/
.content__details {
  font-family: 'Oswald', sans-serif;
  grid-area: grid-content-details;
}

.title {
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 0.93em;
  margin-block-end: 21px;
}

.content__accent {
  color: #545050;
}

.content__video-card-description-container {
  max-width: 198px;
  text-align: left;
}

.content__video-card-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  max-width: 200px;
  max-height: 65px;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
}

.content__list-item:focus,
.content__card-link:focus,
.content__video-card:focus {
  outline: none;
}

.content__list-item:has(.content__card-link:focus-visible) {
  outline: #fff solid 1px;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  block-size: 300px;
  padding: 2px;
  overflow-y: auto;
  /*overflow-x: auto;*/
}

.content__list-item {
  width: 394px;
  padding: 2px 0 2px 2px;
}

.content__list-item:not(:last-child) {
  margin: 0 0 32px 0;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
}

.content__list-item:has(.content__card-link_current),
.content__list-item:has(.content__card-link:active) {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.button {
  font-family: 'Fira Sans Condensed', sans-serif;
  padding: 5px 0 5px 0;
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  cursor: pointer;
  background-color: #1b1919;
  color: #fff;
  border: #fff solid 1px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

button:focus {
  outline: none;
}

.button:focus-visible {
  outline: #fff double 1px;
  outline-offset: 1px;
}
