*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  vertical-align: middle;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
} 

.content {
  
  height: 534px;
  display: grid;
  grid-template-columns: 30px 711px 30px 415px 30px;
  grid-template-areas: '. grid-result . grid-content-details .';
  justify-content: center;
}

.result {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  grid-area: grid-result;
  justify-content: end;
  width: 711px;
}

.result__video-container {
  position: relative;
}

.result__video {
  width: 711px;
  height: 386px;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: grid;
  grid-template-columns: 225px 212px 194px;
  gap: 40px;
  align-items: end;
  padding: 0 0 2px 0;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  font-style: normal;
}

.search-form__textfield {
  width: 100%;
  background-color: #1b1919;
  border: none;
  font-size: 18px;
  line-height: 20px;
  border-radius: 0;
  font-family: 'Fira Sans Condensed', sans-serif;
  border-bottom: #fff solid 1px;
  border-top: #fff solid 1px;
  padding: 3px 0 2px 2px;
  appearance: none;
  color: #fff;
}

.search-form__label:has(input[type='checkbox']) {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.search-form__pseudo-checkbox {
  display: block;
}

.search-form__fieldset:nth-child(2) > div {
  margin: 0 0 5px 0;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input:focus-visible {
  outline: none;
}

.search-form__textfield:active {
  border-bottom: transparent solid 1px;
  border-top: transparent solid 1px;
}

input[type='checkbox'] + span::before {
  content: '';
  display: block;
  width: 19px;
  height: 19px;
  border: #fff solid 1px;
}

input[type='checkbox']:checked + span::before {
  content: '';
  display: block;
  width: 19px;
  height: 19px;
  background-color: #fff;
  box-shadow: 0 0 0 1px #000 inset;
}

.search-form__label:has(input[type='checkbox']):hover {
  text-decoration: underline;
}

.search-form__label:has(input[type='checkbox']):active {
  text-decoration: none;
}

input[type='checkbox']:active + span::before {
  content: '';
  display: block;
  background-color: #fff;
  box-shadow: 0 0 0 1px #000 inset;
}

.search-form__label:has(input:focus-visible) {
  outline: #fff solid 1px;
  outline-offset: 1px;
}

.search-form__label:focus,
.search-form__label:focus-visible {
  outline: none;
}

/*ЛЕВАЯ ЧАСТЬ - Заголовок и список городов*/
.content__details {
  font-family: 'Oswald', sans-serif;
  grid-area: grid-content-details;
  overflow: hidden;
}

.title {
  height: 210px;
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 70px;
  margin-bottom: 24px;
}

.title::first-line {
  color: #545050;
}

.content__video-card-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.content__list:focus-visible,
.content__list-item:focus-visible,
.content__card-link:focus-visible,
.content__card-link_current:focus-visible,
.content__video-card:focus-visible {
  outline: none;
}

.content__list-item:has(a:focus-visible) {
  outline: #fff solid 1px;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 300px;
  padding: 0 2px 2px 2px;
  overflow: auto;
}

.content__list-item {
  width: 394px;
  height: 107px;
  margin: 0 0 34px 0;
}

.content__list-item:nth-last-child(2) {
  margin-bottom: 22px;
}

.content__list-item:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

.content__list-item:active {
  text-decoration: none;
  background-color: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  padding: 2px 0 2px 0;
}

.content__video-card-description-container {
  text-align: left;
  padding: 4px 0 0 2px;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.button {
  font-family: 'Fira Sans Condensed', sans-serif;
  height: 34px;
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  cursor: pointer;
  background-color: #1b1919;
  color: #fff;
  border: #fff solid 1px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.button:focus-visible {
  outline: #fff double 1px;
  outline-offset: 1px;
}
